@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

select, input, textarea {
  border: 1px solid #c2c2c2;
  outline-color: #c586A5;
  border-radius: 4px;
}

input:-moz-focusring {
  outline: 1px solid #c586A5;
}


a.active {
  background-color: #ffebf5;
  border-color: #c586A5
}