export const colors = {
    primary: '#000',
    secondary: '#fff',
    tertiary: '#f0f0f0',
    quaternary: '#e0e0e0',
    quinary: '#d0d0d0',
    senary: '#c0c0c0',
    septenary: '#b0b0b0',
    octonary: '#a0a0a0',
    nonary: '#909090',
    denary: '#808080',
    black: '#000',
    white: '#fff',
    gray: '#808080',
    lightGray: '#f0f0f0',
    darkGray: '#e0e0e0',
    veryDarkGray: '#d0d0d0',
    veryLightGray: '#c0c0c0',
    veryDarkGray: '#b0b0b0',
    veryLightGray: '#a0a0a0',
    veryDarkGray: '#909090',
    veryLightGray: '#808080',
}