@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import "tailwindcss";


.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  

nav a.active {
    hr {
        display: block;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: #fff;
    }
}